.bikes__image {
    border-radius: 50px;
    padding: 20px;
    max-width: 100%;
    object-fit: cover;
    display: block;
    box-sizing: border-box;
}

@media screen and (max-width: 450px) {
    .bikes__image  {
        padding: 14px;
  }