.lead {
  display: flex;
  min-height: 836px;
  padding: 20px 0 20px 8.33%;
  background-image: url(../../images/lead.jpg);
  background-repeat: no-repeat;
  background-size: 42.36% 100%;
  background-position: 100%;
}