.lead {
  display: flex;
  min-height: 836px;
  padding-left: 8.33%;
  background-image: url(../../images/lead.jpg);
  background-repeat: no-repeat;
  background-size: 42.36% auto;
  background-position: top right;
}

@media screen and (max-width: 858px) {
  .lead {
    min-height: 500px;
  }
}