.header {
  z-index: 2;
  position: sticky;
  top: 0;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #F4F4F4;
  padding-right: 120px;
}

@media screen and (max-width: 858px) {
  .header{
    padding: 0 60px;
    margin: auto;
  }
}