.lead__wrap {
    background-image: url(../../../images/lead.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;

    width: 100%;

    grid-area: image;
    position: relative;
    order: 1;

    margin-top: 20px;
}

@media screen and (max-width: 858px) {
    .lead__wrap {
    min-height: 348px;
    max-width: 400px;
    }
  }

  @media screen and (max-width: 450px) {
    .lead__wrap {
    margin-right: 18px;
    }
  }