.merks__quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 470px;
  width: 100%;
  margin: 0;
  
  color: #151515;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.06;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 1172px) {
  .merks__quote {
    font-size: 28px;
  }
}

@media screen and (max-width: 858px) {
  .merks__quote {
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .merks__quote {
    font-size: 23px;
    line-height: 1.3;

  }
}


