.merks__quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 470px;
  width: 100%;
  margin: 0;
  
  color: #151515;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.06;
}