.lead-margins {
    width: calc(100% - 120px);
    margin: 0  0  0 120px;
}

@media screen and (max-width: 858px) {
    .lead {
      display: flex;
      flex-direction: column;
      width: calc(100% - 60px);
      margin: 0  0  0 60px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .lead {
      width: calc(100% - 2*18px);
      margin: 0  18px;
    }
  }