.merks__quote-author {
  margin: 0;
  
  font-size: 20px;
  line-height: 1.32;
}

@media screen and (max-width: 858px) {
  .merks__quote-author {
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .merks__quote-author {
    font-size: 14px;
    line-height: 1.6;
  }
}


